.container__appbar{
    width: 100% !important;
    height: 40px;
    position: fixed;
    top:0;
    left:231px;
    padding-left: 50px;
    background-color: #242424f4;
 
    padding-top: 10px;
    padding-bottom: 10px;
 

    z-index: 20;
    /* background-color: blue; */
}



.container__search input{
    width: 300px;
    height: 35px;
    background-color: transparent;
    padding-left: 20px;
    font-size: 16px;
    
    font-family: verdana;
    outline: none;
    border: 1.5px solid #ffffff6f;
    border-radius: 18px;
}
