.container__appbar{
    width: 100% !important;
    height: 40px;
    position: fixed;
    top:0;
    left:231px;
    padding-left: 50px;
    background-color: #242424f4;
 
    padding-top: 10px;
    padding-bottom: 10px;
 

    z-index: 20;
    /* background-color: blue; */
}

 
.container__items__bar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
}

.icons__bar{
 
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    cursor: pointer;
    padding: 2px;
  
}
.icons__bar:hover{
    transition: .4s;
     background-color: #444;
}
.icons__bar img{
    width: 30px;
}