.container__appbar{
    width: 100% !important;
    height: 60px;
    position: fixed;
    top:0;
    left:231px;
    padding-left: 50px;
    background-color: #242424;
   
    padding-top: 30px;
    margin-bottom: 100px;
    z-index: 10;
    /* background-color: blue; */
}



.container__search input{
    width: 300px;
    height: 35px;
    background-color: transparent;
    padding-left: 20px;
    font-size: 16px;
    font-family: verdana;
    outline: none;
    border: 1.5px solid #ffffff6f;
    border-radius: 18px;
}
