 

.flex__modal{
    background-color: rgba(37, 36, 36, 0.955);
    height: 500px;
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
    width: 600px;
    box-shadow: 1px 1px 1px 10px #222 ;
   
}

.container__title__modal{
    text-align: center;
}
.container__title__modal h4{
    font-size: 20px;
    margin: 0;
    color: #a3a2a2;
    font-weight: 500;
    font-family: sans-serif;
    margin-right: 2px;
}
 
 




.container__input__modal{
    text-align: center;

}

.container__input__modal input{
    width: 430px;
    height: 50px;
    padding-right: 10px;
    margin-top: 15px;
    padding-left: 10px;
    background-color: rgb(53, 53, 53);
    border-radius: 10px !important;
    border: none;
    outline: none;
    font-size: 18px;
    
}

.results{
    font-size: 14px;
    margin-top: 20px;
    color: #999;
    font-family: verdana;
}

.container__movies__modal{
    text-align: center;
}


.circular__load{
    margin-top: 40px;
}





