
.container__discover{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container__select{
    /* background-color: lawngreen; */
    height: 130px;

    width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__select article{
    width: 80px;
    height: 110px;
   
}
.option{
    margin: 1px;
 
    background-color: rgba(32, 32, 32, 0.464) !important;
}

.main__option{
    background-color: rgb(42, 42, 42) !important;
    width: 300px !important;
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border-radius: 8px;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    z-index: 100 !important;
    box-shadow: -.2px 10px 10px 1px rgb(30, 30, 30);
}
.main__option:hover{
    opacity: .8;
}
.left__option,.right__option{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.left__option{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
.right__option{
    border-top-right-radius:  8px;
    border-bottom-right-radius: 8px;
}
.left__option:hover, .right__option:hover{
    cursor: pointer;
    opacity: .3;
    transition: .2s;
}

.opacityModal{
    background-color: rgba(15, 13, 13, 0.855);
}

.container__option__select{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(15, 13, 13, 0.751); */
    flex-direction: column;
}

.center__options{
    /* background-color: rgba(16, 16, 16, 0.579); */
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.button__option{

    height: 45px;

    width: 270px;
    background-color: rgba(28, 27, 27, 0.458); 
    padding: 1px;
    align-content: center; 
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.button__option:hover{
    transform: scale(.9);

}































